.AddTodoItem {
  margin-top: 2em;
}

.AddTodoItem__wrapper {
  display: flex;
  justify-content: space-between;
}

.AddTodoItem input {
  flex-grow: 2;
}

.AddTodoItem button {
  border: 1px solid purple;
  padding: 1em;
  text-transform: uppercase;
}
