.AddTodoItem {
  margin-bottom: 2em;
}

.AddTodoItem__wrapper {
  display: flex;
  justify-content: space-between;
}

.AddTodoItem input {
  flex-grow: 2;
  border: 0;
  padding-left: 0.5em;
  outline: 0;
  border: 1px solid #fff;
}

.AddTodoItem input:focus {
  border: 1px solid #d55e2d;
}
