html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #333;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 900;
  color: #999;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #999;
  margin: 0;
  line-height: 1.5;
}

input, button, label {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}


.button {
  text-transform: uppercase;
  background: #333;
  border: 0;
  padding: 1em;
  outline: 0;
  color: #fff;
  border: 1px solid #333;
}

.button:hover {
  transition: all .2s ease-out;
  background: #fff;
  color: #333;
  cursor: pointer;
}
