html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #3d4252;
  background-color: #cacbd5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 900;
  color: #666f89;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #666f89;
  margin: 0;
  line-height: 1.5;
}

input, button, label {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}


.button {
  text-transform: uppercase;
  background: #3d4252;
  border: 0;
  padding: 1em;
  outline: 0;
  color: #fff;
  border: 1px solid #3d4252;
  transition: all 250ms ease-out;
}

.button:hover {
  background: #fff;
  color: #3d4252;
  cursor: pointer;
  border: 1px solid #d55e2d;
}
